* {
  font-family: "JetBrains Mono Nerd Font";
  color: #f8f8f2;
}

window#waybar {
  background-color: transparent; /* Make the background transparent */
  transition-property: margin-top;
  transition-duration: 0.25s; /* Animation speed */
}

window#mpris { 

  background : transparent;
}
#mpris { 

  background : transparent;
  /* background-color: rgba(255, 255, 255, 0.098); */
  border-top: 1px solid rgba(255, 255, 255, 0.113);
  border-left: 1px solid rgba(255, 255, 255, 0.113);
  border-right: 1px solid rgba(255, 255, 255, 0.113);
  border-bottom: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Soft shadow */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0 20 ;
}

#custom-mpris-progress {
  background : transparent;

  /* background-color: rgba(255, 255, 255, 0.098); */
  border-left: 1px solid rgba(255, 255, 255, 0.113);
  border-right: 1px solid rgba(255, 255, 255, 0.113);
  border-bottom: 1px solid rgba(255, 255, 255, 0.113);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Soft shadow */
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  
  padding: 0 20 ;
}
